*{
    margin: 0;
    padding: 0;
}
section,header,footer{
    width: 960px;
    margin: 0 auto;
    background-color: #ffeeb2;
    box-sizing: border-box;
    border-radius: 5px;
    border: dodgerblue 1px solid;
}
header,footer {
    margin-top: 5px;
    height: 50px;
}
footer {
    height: 30px;
    margin-bottom: 10px;
}
section {
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1,h2{
    color: #1864b7;
    text-indent: 20px;
    margin: 15px 0;
    font-family: 'Fira Sans', sans-serif;
}
h2{
    font-size: unset;
}
.error{
    color: red;
    margin-top: 5px;
    font-size: larger;
}
    /*Header*/

header a{
    color: dodgerblue;
    display: inline-block;
    width: 100%;
    line-height: 50px;
    padding-left: 150px;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    font-family: 'Srisakdi', cursive;
}


    /*Menu*/
nav{
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.main_menu,.auth_menu{
    margin: 10px 0 0 5px;
    list-style: none;
}
.main_menu li{
    margin: 0 15px ;
}
.main_menu li,.auth_menu li{
    display: inline-block;
}
.main_menu a{
    text-decoration: none;
    font-family: 'Laila', serif;
}

.main_menu a:hover,.auth_menu a:hover{
    color: #165eac;

}

.auth_menu>li:last-child{
    margin-left: 10px;
}
.small_avatar{
    width: 25px;
    height: 25px;
}
.activ_user{
    width: 890px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding-right: 10px;
}
.cur_user_name{
    margin-top: 3px;
    margin-right: 5px;
}

    /*Container*/

.container{
    display: inline-flex;
    flex-flow: row nowrap;
    margin-top: 15px;
}

    /*Aside*/

aside{
    padding: 10px 15px;
    background-color: #f4d18a;
    display: inline-block;
    flex-grow: 0;
    width: 120px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}

aside ul{
    list-style: none;
}
aside ul li{
    height: 20px;
    margin-bottom: 10px;
}
aside a {
    text-decoration: none;
    color: dodgerblue;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Laila', serif;
}
aside a:hover {
    color: darkblue;
}

    /*Article*/

.all_posts{
    width: 730px;
    display: inline-block;
    margin-left: 10px;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.post_container{
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    border-radius: 2px;
    display: inline-flex;
    flex-flow: column nowrap;
    border-radius: 5px;
}
.full_post{
    margin-top: 15px;
    width: 100%;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}
.main_post{
    width: 710px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    border-radius: 2px;
    display: inline-flex;
    flex-flow: row nowrap;
    border-radius: 5px;
}
.text{
    width: 690px;
    margin-right: 10px;
}
.large_avatar{
    width: 100px;
    height: 100px;
}
.post_name{
    margin-bottom: 10px;
}
.post_name a{
    font-family: 'PT Sans', sans-serif;
    font-size: x-large;
    text-decoration: none;
    color: dodgerblue;
    margin-left: 20px;
}
.post_author{
    margin: 5px 0px;
    color: #1a72ce;
}
.post_data{
    margin: 5px 0px;
    color: #1a72ce;
    font-size: small;
}
.post_desc,.post_full{
    margin: 10px 0;
    text-indent: 15px;
    font-family: Arial;
}
.post_comment_amount{
    color: #1a72ce;
    margin-top: 10px;
    font-size: small;
}
.comments{
    margin-top: 15px;
}
.comment{
    border: #1a72ce 1px dotted;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    flex-flow: row nowrap;
}
.comment_desc{
    width: 900px;
}
.comment_delete{
    display: inline-block;
}

    /*Add comments*/

.comment_new{
    margin-top: 30px;
}
form{
    display: inline-flex;
    flex-flow: column nowrap;
}
.comment_new>form>input[type="submit"]{
    margin: 10px 0;
    width: 100px;
}

    /*Profile*/

.profile_container
{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    border-radius: 2px;
    display: inline-flex;
    flex-flow: column nowrap;
    border-radius: 5px;
}
.profile_container>div{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.profile_container input[type="submit"]{
    width: 150px;
    margin-top: 5px;
}

    /*Author*/

.my_posts{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.my_posts>.main_post{
    width: 100%;
}
.add_new_post{
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    border-radius: 2px;
    display: inline-flex;
    flex-flow: column nowrap;
    border-radius: 5px;
}
input,select{
    margin: 5px 0;
}
select,input[name="Add post"]{
    width: 200px;
}

    /*Admin*/

.adminka{
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    flex-flow: row nowrap;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}
.admin_content{
    display: inline-flex;
    flex-flow: row nowrap;

}
.admin_categories,.admin_find_users{
    display: inline-flex;
    flex-flow: column nowrap;
    margin-right: 10px;
}
.admin_unit{
    box-sizing: border-box;
    display: inline-block;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
    margin-bottom: 10px;
}

    /*Login-register*/

.login_register{
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    background-color: #f4d18a;
    padding: 10px 15px;
    box-shadow: 2px 2px 3px 0px rgba(107,107,107,1);
    border-radius: 5px;
}

form>div{
    background-color: #fff;
}



