*{
    margin: 0;
    padding: 0;
}
section,header{
    width: 960px;
    margin: 0 auto;
    background-color: #cccccc;
    box-sizing: border-box;
}
header  {
    margin-top: 10px;
    padding: 20px;
}
section {
    padding: 20px;
    margin-top: 20px;
}


    /*Menu*/

.main_menu,.auth_menu{
    list-style: none;
}
.main_menu li,.auth_menu li{
    display: inline-block;
}
.main_menu a,.auth_menu a{
    text-decoration: none;

}
.main_menu>li{
    height: 20px;
    padding: 10px;
    border: black 1px solid ;
}
.small_avatar{
    width: 25px;
    height: 25px;
}
.activ_user{
    display: inline-flex;
    flex-flow: row nowrap;
}

    /*Container*/

.container{
    display: inline-flex;
    flex-flow: row nowrap;
    margin-top: 15px;
}

    /*Aside*/

aside{
    padding: 10px 15px;
    background-color: #ddd;
    display: inline-block;
    flex-grow: 0;
    width: 120px;
    box-shadow: 3px 3px 3px 0px rgba(107,107,107,1);
}

aside ul{
    list-style: none;
}
aside ul li{
    height: 20px;
    margin-bottom: 10px;
}
aside a {
    text-decoration: none;
    color: dodgerblue;
}
aside a:hover {
    color: darkblue;
}

    /*Article*/

article{
    width: 730px;
    display: inline-block;
    margin-left: 10px;
    background-color: #ddd;
    padding: 10px 15px;
    box-shadow: 3px 3px 3px 0px rgba(107,107,107,1);
}
.main_post{
    width: 710px;
    margin-bottom: 15px;
    padding: 5px;
    box-shadow: inset 1px 1px 1px 0px rgba(107,107,107,1);
    border-radius: 2px;
    display: inline-flex;
    flex-flow: row nowrap;
}
.text{
    width: 690px;
    margin-right: 10px;
}
.large_avatar{
    width: 100px;
    height: 100px;
}


